[submodule "report"]
	path = report-submodule/report
	url = https://github.com/Akongstad/DevOps-Report
	branch = main

[submodule "deployment"]
	path = deployment
	url = git@github.com:mikaeleythor/itu-minitwit-ops
	branch = master
